.archive{
    direction: rtl;
    
    
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   /* margin-right: 2rem;\ */
}

.archiveHead{
    width: 80%;
}

.archiveFiles{
    width: 80%;
}

.fileItems{
    display: flex;
    /* gap: 1rem; */
}

.fileItemsTitle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileItem{
    display: flex;
    justify-content: start;
    align-items: center;
}


.chainLogo{
display: flex;
justify-content: center;
align-items: center;
   
   
    border-radius: 100%;


    /* Back */

        padding: 0.5rem;

background: #FF1654;

}


.micLogo{
    display: flex;  
    justify-content: center;
    align-items: center;
       
       
        border-radius: 100%;
    
    
        /* Back */
    
            padding: 0.5rem;
    
    background: #40C6B8;
    
    }

    
.uploadLogo{
        display: flex;
        justify-content: center;
        align-items: center;
           
           
            border-radius: 100%;
        
        
            /* Back */
        
                padding: 0.5rem;
        
        background: #118AD3;
        
        }
        



.fileName{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    gap: 1rem;
}

.fileDescription{
    direction: ltr;
    display: flex;
    justify-content: start;
    align-items: center;

    overflow-x: hidden ;
    white-space: nowrap; /* Prevent text from wrapping */
    text-overflow: ellipsis; /* Add ellipsis if text overflows */

    width: 100%; /* Ensure the container has a constrained width */
}




.fileDate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}


.fileType{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}


.fileTime{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}



.fileActions{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}