.buttonStyle{
    /* background: none;
    border: none; */
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease; 

    width: auto;
}


.pStyle{
    width: auto;
}


.ulStyle{
    list-style-type: none; /* Remove default list item markers */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}